<!-- PAGE | ABOUT -->
<div class="pages page-about" id="page-about">
    <div class="container">
        <!-- Header -->
        <header>
            <h4 class="line-divider">About</h4>
            <h1>Meet The Team</h1>
            <div class="row">
                <div class="span8 offset2">
                    <p>
                        We are collaborative individualists with a wealth of experience in strategic design & communications. We don't just get to have our fun on the weekends -- we have fun with what we do, and feel lucky to take on new and exciting challenges big and small for a diversity of industries.
                    </p>
                </div>
            </div>
        </header>
        <!-- End Header -->
        
        <!-- Article -->
        <article>
            <!-- List of people and description with their contact details which are visable on hover -->
            <ul class="thumbnails about-items">
               
                <li class="span4 center">
                    <div class="item">
                        <img class="img-circle" src="assets/images/pages/about/paige.jpg" width='280' alt="Paige Dearing">
                        <div class="about-overlay img-circle">
                            <div class="social-icons sicon-white">
                              <a href="https://www.facebook.com/paigedearing" class="sicon-facebook"><i>Facebook</i></a>
                              <a href="https://twitter.com/paigedearing" class="sicon-twitter"><i>Twitter</i></a>
                              <a href="http://www.linkedin.com/in/paigedearing" class="sicon-linkedin"><i>LinkedIn</i></a>
                              <a href="http://www.pinterest.com/paigedearing/" class="sicon-pinterest"><i>Pinterest</i></a>
                            </div>
                        </div>
                    </div>
                    
                    <h5>
                        Paige Dearing<br/>
                        <small>Principal / Marketing & Communications Specialist</small>
                    </h5>
                    <p class="smallFontBy08">Armed with a pithy writing style and knack for strategic campaigns, Paige elevates organizations’ marketing and communication efforts by harnessing the power of digital content and tools. Her background in journalism, public relations, sales and online community building makes her a killer asset to any project looking for smart design, automated marketing campaigns or a detail-orientated leader. When she’s not online, she is most likely in down dog, climbing rocks or at the local soccer pub.</p>
                </li>
                
                
                <li class="span4 center">
                    <div class="item">
                        <img class="img-circle" src="assets/images/pages/about/emma.jpg" width='280' alt="Emma Schwartz">
                        <div class="about-overlay img-circle">
                            <div class="social-icons sicon-white">
                                <a href="https://www.facebook.com/emma.snow.75" class="sicon-facebook"><i>Facebook</i></a>
                                <a href="https://twitter.com/paigedearing" class="sicon-twitter"><i>Twitter</i></a>
                                <a href="http://www.linkedin.com/pub/emma-schwartz/58/9/81" class="sicon-linkedin"><i>LinkedIn</i></a>
                            </div>
                        </div>
                    </div>

                    <h5>
                        Emma Schwartz<br/>
                        <small>Content Creator</small>
                    </h5>
                    <p class="smallFontBy08">An enthusiastic force with an eye for detail, Emma brings a unique creative perspective to every project. Prior to Squiid, she was a marketing coordinator at WB Engineers | Consultants. She holds a B.A. in Communication and Media Studies from the University of North Carolina at Chapel Hill, loves sweating through bikram yoga, dancing with goats and camping in the cold (provided there's a bonfire).</p>
                </li>
                <li class="span4 center">
                    <div class="item">
                        <img class="img-circle" src="assets/images/pages/about/shaun.jpg" width='280' alt="Shaun Robinson">
                        <div class="about-overlay img-circle">
                            <div class="social-icons sicon-white">
                                <a href="http://www.facebook.com/soul.slice" class="sicon-facebook"><i>Facebook</i></a>
                                <a href="http://twitter.com/env" class="sicon-twitter"><i>Twitter</i></a>
                                <a href="http://www.linkedin.com/in/aesthetica" class="sicon-linkedin"><i>LinkedIn</i></a>
                            </div>
                        </div>
                    </div>
                    
                    <h5>
                        Shaun Robinson<br/>
                        <small>Technologist &amp; Advisor</small>
                    </h5>
                    <p class="smallFontBy08">
					Shaun is a software engineer and human interface designer passionate about
					combining creativity and technology to empower and enrich the lives
					of real people.
					Shaun co-founded Squiid in 2010 with
					a mission of bringing agency-quality 
					strategic, creative, technical, and project execution services
					to small businesses, not-for-profits and startups alike.
					Today, Shaun is focused on building a next-generation information
					system for main street American businesses.
					Shaun serves as a strategic and technical advisor to Squiid.
					When he is not whiteboarding or programming Clojure, 
					he is hanging out with 
					his beautiful wife Paige around their neighborhood in Washington, DC.
				 </p>
                </li>
            </ul>
        </article>
        <!-- End Article -->
    </div>
</div>
<!-- END PAGE | ABOUT -->