<!-- PAGE | CONTACT -->
<div class="pages black-bg white page-contact" id="page-contact">
    <div class="container">
        <!-- Header -->
        <header>
            <h4 class="line-divider">Contact</h4>
            <h1>Say hello!</h1>
            <div class="row">
                <div class="span8 offset2">
                    <p>
                        We like to explore ideas & create things with fun, open-minded people. Feel free to say hello! We'll respond as soon as possible.
                    </p>
                </div>
            </div>
        </header>
        <!-- End Header -->
        
        <!-- Start Article -->
        <article>
            <div class="row-fluid">
                <!-- Contact form -->
                <div class="span6">
                    <h5>Drop Us A Line</h5>
                    <form id="form1" name="form1" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate
                          action="https://squiidinc.wufoo.com/forms/z6j87m10yxgnrm/#public">

                    <div id="foli7" class="notranslate      ">
                    <label class="desc" id="title7" for="Field7">
                    Name
                    <span id="req_7" class="req">*</span>
                    </label>
                    <div>
                    <input id="Field7" name="Field7" type="text" class="field text medium" value="" maxlength="255" tabindex="1" onkeyup=""       required />
                    </div>
                    </div>
                    <div id="foli3" class="notranslate      ">
                    <label class="desc" id="title3" for="Field3">
                    Email
                    <span id="req_3" class="req">*</span>
                    </label>
                    <div>
                    <input id="Field3" name="Field3" type="email" spellcheck="false" class="field text medium" value="" maxlength="255" tabindex="2"       required />
                    </div>
                  </div>
                    <div id="foli8" class="notranslate      ">
                    <label class="desc" id="title8" for="Field8">
                    Phone number
                    </label>
                    <div>
                    <input id="Field8" name="Field8" type="text" class="field text small" value="" maxlength="255" tabindex="3" onkeyup=""       />
                    </div>
                  </div>
                    <div id="foli5"
                    class="notranslate      "><label class="desc" id="title5" for="Field5">
                    How can we help?
                    <span id="req_5" class="req">*</span>
                    </label>

                    <div>
                    <textarea id="Field5"
                    name="Field5"
                    class="field textarea small"
                    spellcheck="true"
                    rows="10" cols="50"

                    tabindex="4"
                    onkeyup=""
                          required  ></textarea>

                    </div>
                  </div> <div class="buttons ">
                    <div>

                                        <input id="saveForm" name="saveForm" class="btTxt submit"
                        type="submit" value="Submit"
                     /></div>
                    </div>

                    <div class="hide">
                    <label for="comment">Do Not Fill This Out</label>
                    <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
                    <input type="hidden" id="idstamp" name="idstamp" value="caWgXvN7M6d8OSu/RnbrCypw6MkvdDO3iLWIE925v6I=" />
                  </div>
                    </form>
                </div>
                <!-- End Contact form -->
                <!-- Contact information -->
                <div class="span5 offset1">
                    <h5>Meet Us</h5>
                    <div class="media">
                        <div class="social-icons sicon-white pull-left">
                            <a href="#" class="sicon-phone"><i>Phone</i></a>
                        </div> 
                        <div class="media-body smallFontBy08">
                            (+1) 301 717-1415 
                        </div>
                    </div>
                    <div class="media">
                        <div class="social-icons sicon-white pull-left">
                            <a href="#" class="sicon-place"><i>Location</i></a>
                        </div> 
                        <div class="media-body smallFontBy08">
                            Dupont Circle, Washington, DC, 20009
                        </div>
                    </div>
                    <div class="media">
                        <div class="social-icons sicon-white pull-left">
                            <a href="#" class="sicon-mail"><i>email</i></a>
                        </div> 
                        <div class="media-body smallFontBy08">
                            paige@squiid.com
                        </div>
                    </div>
                    <div class="media">
                        <div class="social-icons sicon-white pull-left">
                            <a href="#" class="sicon-clock"><i>Time zone</i></a>
                        </div> 
                        <div class="media-body smallFontBy08">
                            ET / GMT -5
                        </div>
                    </div>
                    <br/>
                    <br/>
                    <br/>
                    <h5>Get social</h5>
                    <div class="social-icons sicon-white bordered">
                        <a href="https://www.facebook.com/pages/Squiid-Inc/339577824214" class="sicon-facebook"><i>Facebook</i></a>
                        <a href="https://twitter.com/squiidinc" class="sicon-twitter"><i>Twitter</i></a>
                        <a href="https://www.linkedin.com/company/851873?trk=tyah&trkInfo=tarId%3A1417557986149%2Ctas%3Asquiid%2Cidx%3A1-1-1" class="sicon-linkedin"><i>LinkedIn</i></a>
                        <a href="http://www.pinterest.com/emmaseyes/design-inspiration/" class="sicon-pinterest"><i>Pinterest</i></a>
                    </div>
                </div>
                <!-- End Contact information -->
            </div>
        </article>
        <!-- End Article -->
        
    </div>
    
    <!-- Background map image -->
    <div id="map-image">
        <img src="assets/images/pages/contact/map_bck.jpg" alt="Squiid">
    </div>
</div>
<!-- END PA