<!-- PAGE | FEATURES  -->
<div class="pages white paralax page-features" id="page-features">
    <div class="overlay"></div>
    <div class="container">
         <!-- Header -->
        <header>
            <h4 class="line-divider">Services</h4>                
            <h1>What We Do</h1>
            <div class="row">
                <div class="span8 offset2">
                    <p>
                    </p>
                </div>
            </div>
        </header>
         <!-- End Header -->
         
         <!-- Article -->
        <article>
            <!-- Features blocks -->
            <div class="row-fluid">
                <div class="span4 center">
                    <img src="assets/images/pages/features/about01.png" alt="Squiid">
                    <h5>Marketing</h5>
                    <p class="smallFontBy08 cutBy10">Our team has the technical & strategic know-how to implement social and web-based communications efforts to carry your messages to all of your clients, followers and fans.</p>
                </div>
                <div class="span4 center">
                    <img src="assets/images/pages/features/about02.png" alt="Squiid">
                    <h5>Communications</h5>
                    <p class="smallFontBy08 cutBy10">Finding the perfect words isn't always easy; it's an art. We work hard to create fresh, compelling and impactful messages to tell our clients' stories.</p>
                </div>
                <div class="span4 center">
                    <img src="assets/images/pages/features/about03.png" alt="Squiid">
                    <h5>Design</h5>
                    <p class="smallFontBy08 cutBy10">Make an instant good impression. Building fresh, innovative designs to go along with messaging is what helps our clients stand apart.</p>
                </div>
            </div>
            <!-- Testemonials -->
            <div class="row-fluid">
                <div class="span8 offset2">
                    <div class="quote center">
                        <div id="quote-slider" class="slide">
                            <!-- Carousel items -->
                            <div class="carousel-inner">
                                <div class="active item">
                                    [Squiid]'s rationale and thinking is strategic and spot on.
                                    <h5>Happy client</h5>
                                </div>
                                <div class="item">
                                    Paige is a terrific communications professional. She can take a concept and create a messaging framework with polished, strong communications pieces using all forms of media. For our small team, Paige is the go to resource. Responsive, professional and skilled - and she gets things done on our tight timelines with a smile! Because of Paige, our group never looked better! 
                                    <h5>Happy client</h5>
                                </div>
                                <div class="item">
                                    Emma is truly one of the most remarkable people I have ever met. Her optimism, intelligence, creativeness and self-starter mentality make her not only an invaluable asset to an organization, but an absolute pleasure to work with.
                                    <h5>Happy client</h5>
                                </div>
                            </div>
                            <!-- Carousel indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#quote-slider" data-slide-to="0" class="active"></li>
                                <li data-target="#quote-slider" data-slide-to="1"></li>
                                <li data-target="#quote-slider" data-slide-to="2"></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <!-- End Article -->
    </div>
</div>
<!-- END PAGE | FEATURES -->