
<!-- PAGE | WELCOME -->
<div class="pages white paralax page-welcome" id="page-welcome">
    <div class="overlay"></div>
    <!-- Centralized content -->
    <div class="centralized">
        <div class="container">
            <div class="row-fluid">
                <div class="span12 center">
                    <!-- Animated logo -->
                    <div class="logo">
                        <div class="scrollNormal">
                            <a href="#page-work">
                                <img src="assets/images/pages/welcome/logo_welcome.png" width="140" height="140" alt="Squiid">
                            </a>
                        </div>
                        <div class="scrollDown">
                            <a href="#page-work">
                                <img src="assets/images/pages/welcome/logo2_welcome.png" width="140" height="140" alt="Squiid">
                            </a>
                        </div> 
                    </div>
                    
                    <div class="line-divider" id="welcome-messages">
                        <ul class="slides">
                            <li>
                                <h1>Hi there!</h1>
                            </li>
                            <li>
                                <h1>Strategic Marketing</h1>
                            </li>
                            <li>
                                <h1>Social Media</h1>
                            </li>
													<li>
																<h1>Design</h1>
													</li>
													<li>
																<h1>Communications</h1>
													</li>
                        </ul>
                    </div>
                    <p>Full-Service Web, Creative and Communications</p>
                    <div class="social-icons sicon-white bordered">
                        <a href="https://www.facebook.com/pages/Squiid-Inc/339577824214" class="sicon-facebook"><i>Facebook</i></a>
                        <a href="https://twitter.com/squiidinc" class="sicon-twitter"><i>Twitter</i></a>
                        <a href="https://www.linkedin.com/company/851873?trk=tyah&trkInfo=tarId%3A1417557986149%2Ctas%3Asquiid%2Cidx%3A1-1-1" class="sicon-linkedin"><i>LinkedIn</i></a>
                        <a href="http://www.pinterest.com/emmaseyes/design-inspiration/" class="sicon-pinterest"><i>Pinterest</i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE | Welcome -->
