<!-- PAGE | WORK -->
<div class="pages page-work" id="page-work">
    <div class="container">
        <!-- Header -->
        <header>
            <h4 class="line-divider">Work</h4>
            <h1>Portfolio</h1>
            <!-- Short desciption about Work in general -->
            <div class="row">
                <div class="span6 offset3">
                    <p>
                        We're passionate about creating written and visual communications that tell clear + engaging stories. We help our clients craft and hone their messages; then we execute comprehensive communications plans across a variety of digital media. 
                    </p>
                </div>
            </div>
                
            <!-- Sub menu -->
            <!-- 
            Params: 
                plugin-filter: Defines links for filtering.
            -->
            <nav class="submenu">
                <ul>
                    <li>
                        <a href="#" class="plugin-filter active" data-filter="all">All</a>
                    </li>
                    <li>
                        <a href="#" class="plugin-filter" data-filter="marketing">Marketing</a>
                    </li>
                    <li>
                        <a href="#" class="plugin-filter" data-filter="marketo">marketo</a>
                    </li>
                    <li>
                        <a href="#" class="plugin-filter" data-filter="email">email</a>
                    </li>
                    <li>
                        <a href="#" class="plugin-filter" data-filter="campaign">campaign</a>
                    </li>
                    <li>
                        <a href="#" class="plugin-filter" data-filter="design">design</a>
                    </li>
                    <li>
                        <a href="#" class="plugin-filter" data-filter="brand">brand</a>
                    </li>
                    <li>
                        <a href="#" class="plugin-filter" data-filter="strategy">strategy</a>
                    </li>
                    <li>
                        <a href="#" class="plugin-filter" data-filter="events">events</a>
                    </li>
                    <li>
                        <a href="#" class="plugin-filter" data-filter="ghostwriting">ghostwriting</a>
                    </li>
                    <li>
                        <a href="#" class="plugin-filter" data-filter="writing">writing</a>
                    </li>
                    <li>
                        <a href="#" class="plugin-filter" data-filter="copyediting">copyediting</a>
                    </li>
                    <li>
                        <a href="#" class="plugin-filter" data-filter="social">social</a>
                    </li>
                </ul>
            </nav>
        </header>
        <!-- End Header -->
            
        <!-- Article -->
        <article>
            <!-- Portfolio items
                Params: 
                    plugin-filter-elements: Defines items for filtering, each item has class which defines filter value.
                    portfolio-items: Customise portfolio items for hover effect.
            -->
            <ul class="thumbnails plugin-filter-elements portfolio-items">
                <li class="span4 marketing marketo email campaign design brand strategy events writing copyediting">
                    <a href="#pages/portfolio/project_1.html" data-destination="portfolio-items" data-insert="before">
                        <!-- Portfolio image -->
                        <img src="/assets/images/pages/work/mobilespaces/mobilespaces-logo.png" alt="Squiid">
                        
                        <!-- Portfolio name, activated on hover -->
                        <div class="portfolio-overlay">
                        <h4>Mobile Spaces</h4>
                        </div>
                    </a>
                </li>
                <li class="span4 marketing email campaign design brand strategy writing copyediting social">
                    <a href="#pages/portfolio/project_2.html" data-destination="portfolio-items" data-insert="before">
                    <img src="/assets/images/pages/work/mobilespaces/nethope-solutions-center.png" alt="NetHope">
                        <div class="portfolio-overlay">
                            <h4>NetHope Solutions Center</h4>
                        </div>
                    </a>
                </li>
                
                <li class="span4 marketing strategy design ghostwriting writing copyediting social">
                     <a href="#pages/portfolio/project_3.html" data-destination="portfolio-items" data-insert="before">
                     <img src="/assets/images/pages/work/mobilespaces/visa-logo.png" alt="Teal Center">
                         <div class="portfolio-overlay">
                             <h4>VISA</h4>
                         </div>
                     </a>
                 </li>
            </ul>
        </article>
        <!-- End Article -->
        
        <!-- Footer -->
        <footer>
            <div class="show-more-cube">
                 <a href="#pages/portfolio/readmore.html" data-destination="plugin-filter-elements" data-insert="appendTo" data-action="remove">
                    <span>Show<br/>More</span>
                </a>
            </div>
        </footer>
        <!-- End footer -->
    </div>
</div>
<!-- END PAGE | WORK -->
